<div class="mt-12 flex flex-col mx-auto">
  <h2 class="py-6 text-4xl font-bold dark:text-white">Help</h2>
  <p class="mb-3 text-gray-500 dark:text-gray-400">There's nothing here yet. Please visit the Wikipedia article for <a class="font-medium text-blue-600 dark:rgtext-blue-500 hover:underline" target="_blank" href="https://en.wikipedia.org/wiki/Kanban_board">Kanban boards</a> if you'd like more information.</p>
</div>
