<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing workspace</h1>

  <%= render "form", workspace: @workspace %>

    <%= link_to "Show this workspaces", @workspace, class: "rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
    <%= link_to "Back to workspaces", workspaces_path, class: "rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
</div>
