<div class="container mx-auto mt-5">
  <div class="flex justify-between items-center">
    <h1 flex-1 class="flex-auto text-center font-bold text-3xl dark:text-gray-300">My Workspaces</h1>
    <%= link_to "New workspace", new_workspace_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="workspaces" class="min-w-full">
    <%= render @workspaces %>
  </div>
</div>
