<p>Hello,</p>
<p>You have been invited to participate in the Kanban workspace named " <%= @invitation.workspace.name %> ".</p>

<p>If you do not yet have an account, you can sign up now at <%= link_to root_url, root_url %>.</p>
<hr>

<p>Have questions or need help? Just reply to this email and our support team will help you sort it out.</p>
