<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New board</h1>

  <%= render "form", board: @board %>

  <%= link_to "Back to boards", workspace_boards_path(@workspace), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
