@tailwind base;
@tailwind components;
@tailwind utilities;

.sortable-ghost {
  @apply bg-gray-300 opacity-50;
}

.list {
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}
